<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitsoc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/fitsoc_logo_short"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fitsoc_logo_short_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitSoc"
        android:name=".ui.Global">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAh9IOuqklG--JfaBPtwc-URhtOL6F9lsQ"/>

        <activity
            android:name=".FrontPageActivity"
            android:exported="true"
            android:label="This is FrontPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register" />

        <activity
            android:name=".NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.FitSoc.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.fitsoc.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>